* {
  box-sizing: border-box;
}

html,
body {
  background-color: #091029;
}

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1350px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: #091028;
  display: block;
  position: relative;
  top: 125%;
  left: 0px;
  right: 0px;
  height: 2000px;
  z-index: 9999;
}

.parallax__layer__0 {
  transform: translateZ(-750px) scale(2.5);
}

.parallax__layer__1 {
  transform: translateZ(-500px) scale(2);
}

.parallax__layer__2 {
  transform: translateZ(-250px) scale(1.5);
}

.parallax__layer__3 {
  transform: translateZ(0px) scale(1);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #091029;
}
@keyframes falling {
  0%,
    100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*="bub"] {
  background-color: #fff;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 78.78356%;
  top: 85.80548%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 43.43326%;
  top: 57.88308%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 60.79139%;
  top: 4.85605%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 79.89598%;
  top: 76.74188%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 74.73682%;
  top: 79.82085%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 74.86945%;
  top: 4.88737%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 92.13466%;
  top: 69.41574%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 43.48763%;
  top: 61.74424%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 20.56701%;
  top: 82.66525%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 1.75683%;
  top: 34.54283%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 94.62625%;
  top: 49.38212%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 18.62592%;
  top: 10.31016%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 58.96382%;
  top: 85.37028%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 40.12466%;
  top: 27.45416%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 36.12937%;
  top: 32.2013%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 35.99043%;
  top: 46.29358%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 0.39319%;
  top: 14.31847%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 74.25111%;
  top: 0.8599%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 26.61077%;
  top: 22.36751%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 67.23133%;
  top: 2.67966%;
  animation-delay: -2s;
}